<style>
  body         {font-family: Helvetica, Geneva, Arial, sans-serif;
                font-size: 12px;}
  h1           {font-size: 125%;}
  h2           {font-size: 120%;}
  div.indented {margin-left: 15px;}
</style>