include README.md
include LICENSE
include flashtest/backend/FlashTest/*
include flashtest/backend/FlashTest/lib/*
include flashtest/backend/FlashTest/scripts/*
include flashtest/backend/FlashTest/scripts/restarttest/*
